.dashboard {
    margin-top: 30px
}

.dashboard p {
    font-family: 'Crimson Text', serif;
    font-size: 120%;
    text-align: center;
}

h1 {
    font-family: 'Bree Serif', serif;
    text-align: center;
}

h2 {
    font-family: 'Bree Serif', serif;
    text-align:center;
}

.personality-output {
    padding: 100px;
    margin-bottom: 50px;
    background: rgb(231, 144, 73);
    border-radius: 50px
}

.container {
    width: 80%
}

.modal-content p {
    font-size: 120%;
    margin-left: 5%;
    line-height: 2em;
    padding-bottom: 20px
}

.question {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block
}

.question .question-field {
    width: 100px
}

.question button {
    margin-left: 20px
}