#landing-content {
    padding: 20px 50px
}

#landing img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 40%;
    margin-top: 30px;
    border-radius: 100px
}

#landing p {
    font-size: 115%
}

.main-info {
    width: 50%;
    text-align: center;
    margin: 0 auto
}

#landing h2 {
    margin-top: 20px;
    letter-spacing: .4em;
    word-spacing: .8em
}

#landing h5 {
    text-align: center;
    line-height: 1.5em;
    font-size: 130%;
    font-family: 'Crimson Text', serif;

}