ul li{
    list-style:none;
}

ul li label{
    margin-left:5px;
}

.question-field {
    /* margin-left: 1px; */
    width: 250px;
    margin-bottom: 15px
}

#registration-form {
    margin: 30px 30px;
    font-family: 'Markazi Text', serif;
}

h3 {
    font-size: 200%;
}

label {
    margin-bottom: 15px;
    margin-right: 30px;
    font-size: 120%
}

textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 20px
}