#main-title {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 320%;
    color: rgba(40, 80, 40, .8);
    /* color: rgb(109, 51, 92); */
    /* color: #6B0D0B; */
    background: white;
    padding: 20px 25px 20px 25px;
    letter-spacing: .15em;
    /* background: rgba(240, 142, 15, 0.7); */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 80px;
    border: 8px solid rgb(206, 87, 87)
}



